/*
  Aluno: Wagner Cardoso da Silva
  RU: 4996408
*/

/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #262525;
  color: #FAFAFA;
  font-family: 'Montserrat', sans-serif
}

.tag {
  color: #E53E3E;
  font-weight: bold;
}

.picture {
  border-radius: 9999px;
}

.section {
  margin-top: 5rem;
}

.section-title {
  color: #E53E3E;
  font-size: 3rem;
}

/* Estilos do cabeçalho */
header {
  width: 100%;
  position: fixed;
  background-color: #262525;
}

header > div:first-child {
  max-width: 80rem;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 2rem 0;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav > a {
  font-weight: bold;
}

nav > a:hover {
  color: #E53E3E;
}

main {
  max-width: 80rem;
  margin: 0 auto 0 auto;
}

#profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#profile > div {
  display: flex;
  gap: 0.25rem;
}

#profile > div > a > svg:hover {
  color: #E53E3E;
}

/* Estilos do conteúdo inicial */
#inicio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#hero  {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 16rem;
}

#hero > div > h1 {
  font-size: 3rem;
  font-weight: bold;
}

#hero > p {
  font-size: 1.5rem;
}

#hero-nav {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#hero-nav > div {
  display: flex;
  gap: 1rem;
}

#hero-nav > div > a {
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-weight: 600;
}

#hero-nav > div > a:hover {
  background-color: #3F3F46;
  border-radius: 1rem;
}

/* Estilos do sobre */
#sobre {
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

#sobre > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

#sobre > div > img {
  width: 256px;
  height: 256px;
}

/* Estilos da formação */
#formacao > div {
  margin-top: 1.5rem;
}

.college {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.college > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1;
}

.college > div:first-child > span {
  font-weight: 500;
}

.college > div:first-child > img {
  display: flex;
  width: 8rem;
  height: 3rem;
}

.college > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* Estilos do portfólio */
#portfolio > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2.5rem;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
  border: solid 1px #71717A;
  border-radius: 1.5rem;
}

.portfolio-item > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.portfolio-item > div > strong {
  font-size: 1.5rem;
}

.portfolio-item > a {
  background-color: #E53E3E;
  font-weight: 600;
  width: fit-content;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

/* Estilos do contato */
form {
  display: flex;
  flex-direction: column;
  width: min-content;
  gap: 1rem;
  margin-top: 2.5rem;
}

input {
  height: 3rem;
}

textarea {
  height: 17.5rem;
  padding-top: 0.875rem;
}

input, textarea {
  width: 40rem;
  border: solid 1px #71717A;
  border-radius: 0.5rem;
  background: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #FAFAFA;
}

form > button {
  width: fit-content;
  margin: auto;
  background-color: #E53E3E;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  color: #FAFAFA;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

/* Estilos do rodapé */
footer {
  max-width: 80rem;
  margin: 8rem auto 4rem auto;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

footer > div:nth-child(1) {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

footer > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer > a {
  font-weight: bold;
}
